In [1]:
import os 

import pandas as pd
path = os.path.join(os.getcwd(), 'names')
dir_work = os.listdir(path)

In [73]:
os.chdir(path)

def count_top_3(x):
    a = len(dir_work)
    rez = pd.DataFrame()
    columns = ['Name', 'Sex', 'Count']
    for n in x:
        for m in range(0, a):
            if dir_work[m].find(str(n)) != -1:
#                 print(dir_work[m])
                fr = pd.read_csv(dir_work[m], names=columns)
                rez = pd.concat([fr,rez])
                rez = rez.groupby(['Name', 'Sex'], as_index=False).sum()
                
    rez = rez.sort_values(by=['Count'], axis=0, ascending=False)            
    
    return rez.head(3)
                
def count_dynamics(x):
    a = len(dir_work)
    rez = pd.DataFrame()
    rez_cnt = {}
    columns = ['Name', 'Sex', 'Count']
    for n in x:
        for m in range(0, a):
            if dir_work[m].find(str(n)) != -1:
                print(dir_work[m])
                fr = pd.read_csv(dir_work[m], names=columns)
                del fr['Name']
                rez = fr
                rez = rez.groupby(['Sex'], as_index=False).sum()
                print(rez)


count_top_3([2000,1998,2007])

          Name Sex  Count
17280    Jacob   M  94758
30196  Michael   M  90636
29412  Matthew   M  78448

In [71]:
count_dynamics([2000,1998,2007])

yob2000.txt
  Sex    Count
0   F  1815110
1   M  1962969
yob1998.txt
  Sex    Count
0   F  1766358
1   M  1910749
yob2007.txt
  Sex    Count
0   F  1920619
1   M  2073388